---
export interface Props {
  name: string;
  link: string;
  description: string;
  gh?: string;
  tech?: string;
}

const { name, link, description, gh, tech } = Astro.props;

// Get stars from Github API
async function fetchStars(gh: string) {
  const api = new URL(`https://api.github.com/repos/${gh}`);
  return fetch(api)
    .then((response) => response.json())
    .then((data) => data.stargazers_count)
    .catch((error) => {
      console.warn("fetchStars::", error.message);
      return 0;
    });
}
---

<projectcard>
  <div class="nb-block-big min-h-full p-5">
    <div class="flex justify-between">
      <a
        class="inline"
        href={link}
        target="_blank"
        rel="external noopener nofollow"
      >
        <h2 class="pb-1 text-2xl font-extrabold">
          {name}
          <svg
            class="inline"
            xmlns="http://www.w3.org/2000/svg"
            style="vertical-align: -0.125em;"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 512 512"
            ><rect
              x="0"
              y="0"
              width="512"
              height="512"
              fill="none"
              stroke="none"></rect><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M384 224v184a40 40 0 0 1-40 40H104a40 40 0 0 1-40-40V168a40 40 0 0 1 40-40h167.48M336 64h112v112M224 288L440 72"
            ></path></svg
          >
        </h2>
      </a>
      {
        gh && (
          <div class="text-bleu">
            <svg
              class="inline"
              xmlns="http://www.w3.org/2000/svg"
              style="vertical-align: -0.125em;"
              width="1.4em"
              height="1.4em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="m19.65 9.04l-4.84-.42l-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73l3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27l1-4.28l-3.32-2.88l4.38-.38L12 6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28L12 15.4z"
              />
            </svg>
            <span class="font-mono text-xl font-bold">{fetchStars(gh)}</span>
          </div>
        )
      }
    </div>
    {tech && <p class="text-md font-mono font-light">{tech}</p>}
    <p class="pt-2 text-lg">
      {description}
    </p>
  </div>
</projectcard>
